[Unit]
Description=Matrix AI
After=multi-user.target[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/0xmrtt/matrixai/run.sh
WantedBy=multi-user.target