[Unit]
Description=Matrix AI Bot
 
[Service]
Type=simple
ExecStart=/bin/bash /home/0xmrtt/matrixai/run.sh
WorkingDirectory=/home/0xmrtt/matrixai

[Install]
WantedBy=multi-user.target